<h1>Editing pre_existing_condition</h1>

<%= render 'form' %>

<%= link_to 'Show', [@pre_existing_condition.patient, @pre_existing_condition] %> |
<%= link_to 'Back', patient_pre_existing_conditions_path(@pre_existing_condition.patient) %>
