<h2 class="text-center text-decoration-underline">Edit A Pre Existing Condition</h2>
<div class="text-center">

    <%= render 'form' %>
</div>


 <div class="text-center">
    <%= link_to 'Back', (@pre_existing_condition.patient) , class: "btn btn-danger" %>

</div>