<h2 class="text-center text-decoration-underline">Add A Drug Allergy To Patient</h2>

<%= render 'form' %>

<div class="text-center">
        <%= link_to 'Back', (@drug_allergy.patient) , class: "btn btn-danger btn-lg" %>
</div>
