<h2 class="text-center text-decoration-underline">Add A New Patient   </h2>

    <%= render "form", patient: @patient %>


<br>

<div>
  <%= link_to "Back to patients", patients_path , class: "btn btn-danger btn-lg" %>
</div>
