<p style="color: green"><%= notice %></p>



<%= render @patient %>
<div class="text-start mx-4 mb-5">
  <p>
    <%= image_tag(@patient.qr_code) if @patient.qr_code.attached? %>
  </p>
</div>


<div class="text-center">
  <%= link_to "Back to patients", patients_path , class: "btn btn-danger btn-lg" %>


</div>



<div>


</div>
