.table {
    width: 300px !important;
}
.patient-image{
    width: 200px !important;
    border-radius:50%!important;
    height:200px !important;

}
.conditions-list{
    background-color: #f5f5f5;
    width:300px !important;
}
.conditions-list li{
    list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}
.patient-code{
    margin-top: -15%;
    margin-left: 5rem;
}
.add-buttons{

}