<h2 class="text-center text-decoration-underline">Add A Food Allergy To Patient</h2>
    <%= render 'form' %>

<div class="text-center">
        <%= link_to 'Back', (@food_allergy.patient) , class: "btn btn-danger btn-lg" %>
</div>
